<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.depaulusa.maconga.daybreakmacon">

    <application
        android:allowBackup="true"
        android:icon="@drawable/cardboardlogosm"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AboutUs" />
        <activity android:name=".ServicesPage" />
        <activity android:name=".LaundryAndShowers" />
        <activity android:name=".MedicalServices" />
        <activity android:name=".FoodServices" />
        <activity android:name=".ClothingServices" />
        <activity android:name=".OtherServices"></activity>
    </application>

</manifest>